/* Question */

.question-content {
    border-bottom: 1px solid var(--gray);
}

.question-author {
    @include xs {
        h1 {
            margin-bottom: .5rem;
        }

        .question-tag {
            margin-bottom: 1rem;
        }
    }
}