/* Sidebar */
.sidebar {
    min-width: 200px;

    @include xs {
        width: 100%;
        justify-content: center;
        padding: 20px 0;
    }

    .sidebar-nav a {
        display: block;
        padding: 10px;
        cursor: pointer;
        font-size: var(--font-size-small);
        transition: opacity .4s;
    }
    
    .sidebar-nav a:hover {
        opacity: .7;
    }
    
    .sidebar-nav a i {
        color: var(--color-dark);
    }
    
}

.active {
    font-weight: bold;
    color: var(--primary);
}

