/* theme */

:root {
    --primary: #0051ff;
    --primary-light: #e7f9f9;
    --accent: #2762ce;
    --warning: #973d40;
    --success: #4f8f64;
    --font-family: 'Open Sans', sans-serif;
    --font-size-small: 15px;
    --font-size-regular: 16px;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    --border-radius: 3px;
    --border: 1px solid #ddd;
    --color: #636466;
    --color-dark: #444;
    --gray: #636466;
    --gray-dark: #444;
    --gray-light: #ddd;
    --footer-bg: #0051ff;
}